include ./icons.pug
- var links = [{name: "Home", href: "/"}, {name: "Explore", href: "/explore"}, {name: "Notifications", href: "/notifications"}, {name: "Bookmarks", href: "/bookmarks"}, {name: "Profile", href: `/${user.username}`}];
header.flex.items-end.grow.flex-col.bg-white
  .flex(class="w-[275px]")
    .h-full.fixed.top-0
      .flex.justify-between.h-full.flex-col(class="w-[275px]")
        nav.flex.flex-col.px-10.mb-6
          a(href="/" class="w-14 h-14 hover:bg-gray-200 rounded-full p-3")
            svg(viewbox='0 0 24 24' aria-hidden='true' class="fill-blue-400")
              g
                path(d='M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z')
          .nav__links
            each link in links
              a(class=`flex w-fit p-3 rounded-full font-sans font-normal gap-4 text-xl no-underline text-black items-center hover:bg-gray-200 transition-all ${page_title == link.name.toLowerCase() ? 'font-medium' : ''}` href=link.href)
                div
                  +#{page_title == link.name.toLowerCase() ? `${link.name}Active` : link.name}
                | #{link.name}
        .dropdown
          img.profile__img(src="https://pbs.twimg.com/profile_images/1412798574161797132/4ZCwA8w-_normal.jpg" alt="")
          span.dropdown-toggle(name="visibility") Xanthe Neal
          form.dropdown__menu(action="/logout" method="GET")
            a.menu__item
              i.material-icons person
              | Profile
            button.menu__item
              i.material-icons login
              | Logout
