extends layout.pug

block prepend header
  -var modalTitle = "Create an account"
  -var modalId = "modal-1"
  -var action = "/signup"

block content
  input(type="text" name="name" placeholder="Name" value=name class="w-full border-2 border-gray-300 rounded-lg px-4 py-2 mb-4")
  input(type="text" name="username" placeholder="Username" value=username class="w-full border-2 border-gray-300 rounded-lg px-4 py-2 mb-4")
  input(type="email" name="email" placeholder="Email" value=email class="w-full border-2 border-gray-300 rounded-lg px-4 py-2 mb-4")
  if error_msg
    span= error_msg
  input(type="password" name="password" placeholder="Password" value=password class="w-full border-2 border-gray-300 rounded-lg px-4 py-2")
  button.button__primary Register

