extends ../layouts/main.pug
include ../mixins/tweet.pug
block content
  main(class="flex grow")
    div(class="w-[990px] flex")
      div(class="w-[600px] border-x border-x-gray-100")
        div(class="sticky top-0 h-14 backdrop-blur-md bg-white bg-opacity-80 z-10 flex px-4 items-center gap-8")
          +ArrowLeft
          div(class="flex flex-col")
            h1(class="text-xl font-bold")=user.name
            p(class="text-sm text-gray-500") 6432 tweets
        div
          img(src="https://pbs.twimg.com/profile_banners/106276044/1497628279/600x200" alt="")
          div(class="px-4 py-3")
            div(class="flex items-start justify-between")
              div(class="w-36 h-36 -mt-[15%] overflow-hidden rounded-full")
                if user.profile.picture
                  img(class="w-full h-full object-cover" src=`/public/upload/temp/${user.profile.picture}` alt="")
                else
                  img(class="w-full h-full object-cover" src="/public/img/default-profile.png" alt="")
              a(href="#" id="editBtn" class="font-bold rounded-full border border-gray-300 h-9 px-4 hover:bg-slate-100 text-[15px] flex items-center transition-all") Edit profile
            h1(class="text-xl font-bold")=user.name
            p(class="text-sm text-gray-500 mb-2") @#{user.username}
            p(class="text-gray-500 mb-2") I’m a software designer and developer from Chile 🇨🇱, currently working at
            div(class="text-sm flex gap-4")
              p(class="flex gap-1")
                span(class="font-bold") 1,433
                span(class="text-gray-500") Following
              p(class="flex gap-1")
                span(class="font-bold") 1,433
                span(class="text-gray-500") Following
        nav(class="flex justify-between border-b border-gray-100")
          - var links = [{title: 'Tweets', name: ''}, {title: 'Tweets & replies', name: 'with_replies'}, {title: 'Media', name: 'media'}, {title: 'Likes', name: 'likes'}]
          each link in links
            a(href=`/${user.username}${link.name ? `/${link.name}` : ''}` class="flex justify-center h-14 hover:bg-gray-100 grow items-stretch")
              div(class="relative flex items-center")
                p(class="text-gray-500 flex items-center")=link.title
                if page_name == link.name
                  div(class="h-1 w-full bg-blue-500 absolute bottom-0 rounded-full")
        if page_name == 'likes'
          each tweet in likes
            +tweet(tweet.id, tweet.content, tweet.retweets, tweet.likes, tweet.author)

        include ../modals/profile.pug


      div(class="w-[350px]")
        input(type="text" placeholder="Search Twitter")
  script.
    const editButton = document.getElementById('editBtn')
    editButton.addEventListener('click', () => {
      MicroModal.show('modal-1')
    })
