extends ../layouts/sign.pug

block content
  .sign
    h4.h4 Join thousands of learners from around the world
    p.body2 Master web development by making real-life projects. There are multiple paths for you to choose
    form(action="/signup" method="POST")
      .field
        i.material-icons person
        input(type="text" name="name" placeholder="Name" value=name)
      .field
        i.material-icons person
        input(type="text" name="username" placeholder="Username" value=username)
      .field
        i.material-icons email
        input(type="email" name="email" placeholder="Email" value=email)
        if error_msg
          span= error_msg
      .field
        i.material-icons lock
        input(type="password" name="password" placeholder="Password" value=password)
      button.button__primary Start coding now
    p.sign__other or continue with these social profile
    .sign__logos
      a(href='/google' title='google')
        i.fab.fa-google
      a(href='http://facebook.com/' title='Google')
        i.fab.fa-facebook-square
      a(href='http://facebook.com/' title='Twitter')
        i.fab.fa-twitter
      a(href='http://facebook.com/' title='Github')
        i.fab.fa-github
    p.sign__login Already a member?
      a(href="/signin") Login
